<app-heading />
<div class="container"> 
  <!-- Welcome to Rewards -->
  <div class="welcome-image">
    <img src="Welcome.png" alt="Welcome" />
  </div>
  <!-- Your Coupon -->
  <div class="your-coupon">
    <span>Your Coupon</span>
  </div>
  <!-- Coupons -->
  <div class="coupons">
    <div class="coupon-image">
      <img src="Subtract.png" alt="sub">
      <div class="coupon-content">
        <div class="coupon-content-image">
          <img src="Starbucks.png" alt="star">
        </div>
        <div class="line"><img src="Line.png" alt=""></div>
        <div class="coupon-text">
          <p>STARBUCKS</p>
          <p>$50-60 Voucher</p>
          <p>Scan the QR code to redeem now!</p>
        </div>
        <div class="redeem-code" (click)="HandleClick()">
          Redeem Code
        </div>
      </div>
    </div>
    <div class="coupon-image">
      <img src="Subtract.png" alt="sub">
      <div class="coupon-content">
        <div class="coupon-content-image">
          <img src="Starbucks.png" alt="star">
        </div>
        <div class="line"><img src="Line.png" alt=""></div>
        <div class="coupon-text">
          <p>STARBUCKS</p>
          <p>$50-60 Voucher</p>
          <p>Scan the QR code to redeem now!</p>
        </div>
        <div class="redeem-code">
          Redeem Code
        </div>
      </div>
    </div>
    <div class="coupon-image">
      <img src="Subtract.png" alt="sub">
      <div class="coupon-content">
        <div class="coupon-content-image">
          <img src="Starbucks.png" alt="star">
        </div>
        <div class="line"><img src="Line.png" alt=""></div>
        <div class="coupon-text">
          <p>STARBUCKS</p>
          <p>$50-60 Voucher</p>
          <p>Scan the QR code to redeem now!</p>
        </div>
        <div class="redeem-code">
          Redeem Code
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    Please remember to redeem your vouchers within 90 days
  </div>
</div>
 